.drag
    font 12px "Sans Serif"
    position absolute
    top 410px
    width 90px
    text-align center
    padding 4px 0px 12px 0px
    background url("tab.png")
    background-size 100% 100%
    transition opacity 1s
    -webkit-transition opacity 1s

.drag2
    font 12px "Sans Serif"
    position absolute
    top 410px
    width 90px
    text-align center
    padding 4px 0px 12px 0px
    background url("tab.png")
    background-size 100% 100%
    transition opacity 1s
    -webkit-transition opacity 1s

.freePos
    font 12px "Sans Serif"
    position absolute
    top 400px
    left 200px
    width 90px
    background url("tab.png")
    background-size 100% 100%
    padding 4px 0px 12px 0px
    text-align center

.pos0
    left 100px
.pos1
    left 250px
.pos2
    left 400px
.pos3
    left 550px
.pos4
    left 700px
.pos5
    left 850px
.pos6
    left 1000px

body
    font sans-serif
    
.tile
    position absolute 

#image
    position absolute
    top 0px
    left 0px
    display none

.drag.disabled
    opacity 0
